@media (max-width:1600px) {
    /* post */

    .post__title {
        max-width: 100%;
        margin-bottom: 23px;
    }

    .post__list p {
        max-width: 100%;
        margin-bottom: 0;
    }

    .post__img {
        margin-bottom: 0;
    }

    .post__img img {
        margin-bottom: 0;
    }


    .post__list {
        max-height: inherit;
        flex-wrap: nowrap;
    }

    .post__list li:nth-child(1) {
        order: 1;
        margin-bottom: 24px;
    }

    .post__list li:nth-child(2) {
        order: 3;
        margin-bottom: 3px;
    }

    .post__list li:nth-child(3) {
        order: 5;
        margin-bottom: 30px;
    }

    .post__list li:nth-child(4) {
        order: 6;
        margin-bottom: 25px;
    }

    .post__list li:nth-child(5) {
        order: 2;
        margin-bottom: 21px;
    }

    .post__list li:nth-child(6) {
        order: 4;
        margin-bottom: 21px;
    }

    .post__list li:nth-child(7) {
        order: 7;
    }

    /* benefits */

    .benefits__list {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 251px 300px 300px 300px;
        grid-template-areas:
            "b1 b1"
            "b2 b3"
            "b4 b7"
            "b5 b6";
    }

    .benefits__item {
        background-size: cover;
        background-position: right bottom;
    }
}

@media (max-width:1366px) {

    /* post */
    .post {
        padding-bottom: 28px;
    }

    /* repair-table */
    .repair-table__content {

        flex-direction: column;
        height: 960px;
    }

    .repair-table__button-block {
        width: 100%;
        padding: 49px 26px;
        padding-bottom: 0;
    }

    .repair-table__title {
        margin-bottom: 21px;
    }

    .repair-table__price-list {
        width: 100%;
    }

    .repair-table__big-button {
        margin-bottom: 44px;
    }

    .price-list__title {
        padding: 37px 14px 21px 26px;

    }

    .price-list__text {
        min-width: 469px;
        margin-right: auto;
    }

    .price-list__row {
        padding-left: 26px;
        padding-right: 24px;
    }

    .repair-table__scroll-link {
        bottom: 428px;
        right: 50%;
    }
}

@media (max-width:992px) {

    .container {
        max-width: 816px;
    }


    .header__container {
        padding-top: 4px;
        padding-left: 35px;
        padding-right: 32px;
        padding-bottom: 12px;
    }


    .header__img {
        max-width: 93%;
    }

    .feedback {
        margin-right: 24px;
    }

    .header__nav {
        /* данные для бургер меню */
        position: absolute;
        /* из за того что абсолют и width 50% выезжает на половину экрана */
        left: 0;
        top: 138px;
        width: 100%;
        min-width: 250px;
        height: 100vh;
        z-index: 1000;
        /* что бы точно поверх всего контента */
        padding: 50px;
        padding-top: 0;
        /* box-shadow: 0 0 5px #888; */
        background-color: #fff;
        overflow-y: auto;
        /* что бы пункты меню помещались на сайт, когда он слишком мал по высоте. */
        visibility: hidden;
        transform: translateX(-120%);
        /* выезд белого прямоугольника слева */
        transition: visibility 0.3s linear, transform 0.3s linear;
        /* visibility,tramsform,transition что бы меню красиво появлялось */
    }

    .header__nav--active {
        /* при инициализации появляются эти стили */
        visibility: visible;
        transform: none;
    }

    .header__nav .nav__list {
        flex-direction: column;
        gap: 0;
    }

    .header__nav .nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 29px;
    }


    .burger--active .burger__line:nth-child(2) {
        opacity: 0;
    }

    .burger--active .burger__line:first-child {
        left: 25%;
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s linear, top 0.3s linear, left 0.3s linear;
    }

    .burger--active .burger__line:last-child {
        bottom: auto;
        left: 25%;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: transform 0.3s linear, top 0.3s linear, left 0.3s linear;
    }



    .burger {
        position: relative;
        display: block;
        /* т.к. в style.css display none */
        width: 40px;
        height: 40px;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        /*что бы выровнять все палочки горизонтально по центру  относительно данной кнопки*/
        width: 20px;
        height: 2px;
        border-radius: inherit;
        background-color: var(--color-black);
    }

    .burger__line:nth-child(1) {
        /*:nth-child обращаемся к первой палочке и.т.д.  */
        top: 13px;
    }



    .burger__line:nth-child(3) {
        /*:nth-child обращаемся к третей палочке и.т.д.  */
        bottom: 13px;
    }

    /* а 2 палочка посередине осталась */

    .burger__line:nth-child(2) {
        /*:nth-child обращаемся к первой палочке и.т.д.  */
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        /* такиим образом центрируем */
        /* translateX(-50%) дублируем , т.к иначе оно отменяется из за  translateY(-50%) */
    }

    .stop-scroll {
        overflow: hidden;
        /* что бы когда появлется менюха слева нельзя было скролить, в js  примяняется прям к боди */
    }

    /* hero */

    .hero {
        padding-top: 12px;
    }

    .hero__container {
        flex-direction: column-reverse;
        gap: 32px;

    }

    .hero-swiper {
        width: 100%;
        height: 480px;
    }


    .hero-slide__container {
        background-image: url('../img/hero-swipper-img-768.jpeg');
        background-repeat: no-repeat;

        border-radius: 24px;
        padding: 67px 23px;
        height: 100%;
    }

    .hero-slide__wrapper {
        max-width: 510px;
    }

    .hero-slide__title {
        font-family: Unbounded;
        font-size: 44px;
        font-weight: 500;
        line-height: 54.56px;
        text-align: left;

    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 11px);


    }

    .hero__list {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: inherit;
        gap: 20px;
    }

    .hero__item {
        /* flex-basis: 383px; */
        width: 383px;
        height: 120px;
        /* padding: 28px 25px; */
    }

    .hero__item:nth-child(1) {
        order: 1;
    }

    .hero__item:nth-child(2) {
        order: 3;
    }

    .hero__item:nth-child(3) {
        order: 2;
    }

    .hero__item:nth-child(4) {
        order: 4;
    }

    /* post */

    .post {
        padding-top: 65px;
    }

    .post__content {
        max-width: 785px;
        padding: 35px 23px;
    }

    .post__list p {
        max-width: 726px;

    }

    .post__info {
        background-image: url('../img/post-background-img-834.jpeg');
        max-width: 100%;
    }

    /* steps */

    .steps {
        padding-top: 124px;
    }

    .steps__item {
        width: 382px;
    }

    /* benefits */

    .benefits {
        padding-top: 121px;
    }

    /* feedbacks */

    .feedbacks {
        padding-top: 122px;
    }

    .feedbacks-button-next,
    .feedbacks-button-prev {
        display: none;
    }

}


@media (max-width:768px) {

    .container {
        padding: 0 12px;
    }

    .header__img {
        max-width: 83%;
    }

    .header__nav {
        top: 134px;
        padding-left: 36px;
    }

    .header__container {
        padding-top: 2px;
        padding-left: 35px;
        padding-right: 29px;
        padding-bottom: 12px;
    }

    .feedback {
        flex-direction: column;
        align-items: flex-start;
        /* данные для бургер меню */
        position: absolute;
        /* из за того что абсолют и width 50% выезжает на половину экрана */
        left: 0;
        top: 491px;
        width: 100%;
        min-width: 250px;
        height: 100vh;
        z-index: 1000;
        /* что бы точно поверх всего контента */
        padding-left: 37px;
        /* box-shadow: 0 0 5px #888; */
        background-color: #fff;
        overflow-y: auto;
        /* что бы пункты меню помещались на сайт, когда он слишком мал по высоте. */
        visibility: hidden;
        transform: translateX(-120%);
        /* выезд белого прямоугольника слева */
        transition: visibility 0.3s linear, transform 0.3s linear;
        /* visibility,tramsform,transition что бы меню красиво появлялось */
    }

    .feedback__link {
        padding-left: 0;
    }

    .feedback__button {
        padding: 18px 84px;
    }

    .feedback--active {
        /* при инициализации появляются эти стили */
        visibility: visible;
        transform: none;
    }

    /* hero */

    .hero__list {
        gap: 16px;
    }

    .hero__item {
        width: 100%;
        height: 98px;
        padding-right: 15px;
    }

    .advantages-list__descr {
        font-family: Unbounded;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.84px;
        text-align: left;

    }


    .hero__item:nth-child(2) {
        order: 2;
    }

    .hero__item:nth-child(3) {
        order: 3;
    }

    /* repair-table */

    .price-list__text {
        padding-right: 10px;
        min-width: 250px;
        max-width: fit-content
    }


    /* benefits */

    .benefits {
        padding-top: 62px;
    }

    .benefits__list {
        justify-content: center;
        display: grid;
        gap: 16px;
        grid-template-columns: minmax(320px, 382px);
        grid-template-rows: 185px 261px 260px 260px 260px 263px 360px;
        grid-template-areas:
            "b1"
            "b2"
            "b3"
            "b4"
            "b5"
            "b6"
            "b7";

    }

    .benefits__title {
        font-family: Unbounded;
        font-size: 31px;
        font-weight: 600;
        line-height: 38.44px;
        text-align: left;
        margin-bottom: 16px;

    }

    .benefits__item--1 .benefit__descr {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;


    }

    .benefit__title {
        font-family: Unbounded;
        font-size: 24px;
        font-weight: 600;
        line-height: 29.76px;
        text-align: left;
        margin-bottom: 12px;
    }

    .benefit__descr {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;


    }

    .benefits__item--1 {
        padding: 36px 22px;
    }

    /* feedbacks */

    .feedbacks {
        padding-top: 68px;
    }

    .feedbacks__title {
        font-family: Unbounded;
        font-size: 32px;
        font-weight: 600;
        line-height: 39.68px;
        text-align: left;
    }

    .feedbacks-swiper__button-box {
        display: block;
        width: 94%;
        top: 484px;
        right: inherit;
        bottom: inherit;
        left: inherit;
    }

    .feedbacks__leave-comment{
        width: 100%;
    }



}

@media (max-width:577px) {

    /* post */

    .post {
        padding-bottom: 20px;
    }

    /* repair-table */

    .repair-table__content {
        height: 1117px;
    }

    .repair-table__button-block {
        width: 100%;
        padding: 36px 23px;
        padding-bottom: 0;
    }

    .repair-table__title {
        font-family: Unbounded;
        font-size: 32px;
        font-weight: 600;
        line-height: 39.68px;
        text-align: left;

    }

    .repair-table__big-button {

        padding: 16px 23px;
        margin-bottom: 35px;
    }

    .price-list__item {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .price-list__title {
        padding: 26px 17px 13px 24px;
        font-family: Unbounded;
        font-size: 18px;
        font-weight: 500;
        line-height: 22.32px;
        text-align: left;

    }

    .price-list__row {
        padding: 15px 24px 16px 24px;
    }

    .price-list__text {
        margin-bottom: 6px;
    }


    .price-list__ptice {
        margin-bottom: 10px;
    }

    .repair-table__scroll-link {
        bottom: 717px;
        right: 24%;
    }

    /* steps */

    .steps {
        padding-top: 67px;
    }

    .steps__title {
        font-family: Unbounded;
        font-size: 32px;
        font-weight: 600;
        line-height: 39.68px;
        text-align: left;

    }

    .steps__list {
        gap: 28px;
    }

    .steps__item {
        padding-top: 25px;
        position: relative;
        background-image: url(../img/steps-background.jpeg);

        min-height: 321px;

    }

    .steps__item {
        background-image: url('../img/steps-background-375.jpeg');

    }

    .steps__item--extra {
        background-image: url('../img/steps-background-extra-375.jpeg');
    }
}

@media (max-width:480px) {
    /* hero  */

    .hero {
        padding-top: 20px;
        padding-bottom: 32px;
    }

    .hero__container {
        gap: 22px;
    }

    .hero-swiper {
        width: 100%;
        height: 610px;
    }

    .hero-slide__container {
        background-image: url('../img/hero-swipper-img-375.jpeg');
        background-size: cover;
        padding: 36px 24px;
    }



    .hero-slide__title {
        font-family: Unbounded;
        font-size: 32px;
        font-weight: 500;
        line-height: 39.68px;
        text-align: left;
        margin-bottom: 41px;

    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 31px);


    }

    /* post */

    .post {
        padding-top: 33px;
    }

    .post__content {
        padding: 29px 23px;
    }

    .post__title {
        font-family: Unbounded;
        font-size: 32px;
        font-weight: 600;
        line-height: 39.68px;
        text-align: left;

    }

    .post__list p {
        max-width: 303px;
        line-height: 29px;
    }

    .post__list li:nth-child(2) {
        order: 3;
        margin-bottom: 22px;
    }

    .post__list li:nth-child(6) {
        order: 4;
        margin-bottom: 17px;
    }


}