html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 375px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fonts */

/* Inter font */

@font-face {
    font-family: 'Inter';

    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),

        url('../fonts/Inter/Inter-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter/Inter-BoldItalic.woff') format('woff');

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Medium Italic'), local('Inter-MediumItalic'),

        url('../fonts/Inter/Inter-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter/Inter-MediumItalic.woff') format('woff');

    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'),

        url('../fonts/Inter/Inter-ThinItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter/Inter-ThinItalicBETA.woff') format('woff');

    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Regular'), local('Inter-Regular'),

        url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Black'), local('Inter-Black'),

        url('../fonts/Inter/Inter-Black.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Black.woff') format('woff');

    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Black Italic'), local('Inter-BlackItalic'),

        url('../fonts/Inter/Inter-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter/Inter-BlackItalic.woff') format('woff');

    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Light BETA'), local('Inter-LightBETA'),

        url('../fonts/Inter/Inter-LightBETA.woff2') format('woff2'),
        url('../fonts/Inter/Inter-LightBETA.woff') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Semi Bold'), local('Inter-SemiBold'),

        url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter/Inter-SemiBold.woff') format('woff');

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),

        url('../fonts/Inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter/Inter-ExtraBoldItalic.woff') format('woff');

    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Bold'), local('Inter-Bold'),

        url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Bold.woff') format('woff');

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'),

        url('../fonts/Inter/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter/Inter-ExtraLightItalicBETA.woff') format('woff');

    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),

        url('../fonts/Inter/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../fonts/Inter/Inter-ExtraLightBETA.woff') format('woff');

    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),

        url('../fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter/Inter-ExtraBold.woff') format('woff');

    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),

        url('../fonts/Inter/Inter-ThinBETA.woff2') format('woff2'),
        url('../fonts/Inter/Inter-ThinBETA.woff') format('woff');

    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'),

        url('../fonts/Inter/Inter-LightItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter/Inter-LightItalicBETA.woff') format('woff');

    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Italic'), local('Inter-Italic'),

        url('../fonts/Inter/Inter-Italic.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Italic.woff') format('woff');

    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),

        url('../fonts/Inter/Inter-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter/Inter-SemiBoldItalic.woff') format('woff');

    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';

    src: local('Inter Medium'), local('Inter-Medium'),

        url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Medium.woff') format('woff');

    font-weight: 500;
    font-style: normal;
}

/* Unbounded font */

@font-face {
    font-family: 'Unbounded';

    src: local('Unbounded Medium'), local('Unbounded-Medium'),

        url('../fonts/Unbounded/Unbounded-Medium.woff2') format('woff2'),
        url('../fonts/Unbounded/Unbounded-Medium.woff') format('woff');

    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';

    src: local('Unbounded Bold'), local('Unbounded-Bold'),

        url('../fonts/Unbounded/Unbounded-Bold.woff2') format('woff2'),
        url('../fonts/Unbounded/Unbounded-Bold.woff') format('woff');

    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';

    src: local('Unbounded Regular'), local('Unbounded-Regular'),

        url('../fonts/Unbounded/Unbounded-Regular.woff2') format('woff2'),
        url('../fonts/Unbounded/Unbounded-Regular.woff') format('woff');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';

    src: local('Unbounded Black'), local('Unbounded-Black'),

        url('../fonts/Unbounded/Unbounded-Black.woff2') format('woff2'),
        url('../fonts/Unbounded/Unbounded-Black.woff') format('woff');

    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';

    src: local('Unbounded Light'), local('Unbounded-Light'),

        url('../fonts/Unbounded/Unbounded-Light.woff2') format('woff2'),
        url('../fonts/Unbounded/Unbounded-Light.woff') format('woff');

    font-weight: 300;
    font-style: normal;
    font-display: swap;
}





/* Global */

:root {
    --color-main-gradient: linear-gradient(134.87deg, #E4478A 13.66%, #9E31EB 46.05%, #D9B75B 86.19%);
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-white-opacity: rgba(255, 255, 255, 0.1);
    --color-grey-light: #F2F2F2;
    --color-grey: #727272;
    --color-grey-dark: #414141;
    --color-green: #29B24A;
    --color-red: #F53527;
    --color-blue: #6244F5;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.container {
    max-width: 1550px;
    padding: 0 15px;
    margin: 0 auto;

}

.is-hidden {
    opacity: 0;
    /* display: none;
    visibility: hidden; */
}

.primary-btn {
    padding: 18px 24px;
    border-radius: 16px;
    background: var(--color-main-gradient);
    color: var(--color-white);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    transition: opacity .2s ease-in-out;
}

.primary-btn:hover {
    opacity: 0.8;
}

.primary-btn:focus {
    opacity: 0.9;
}

.primary-btn:active {
    opacity: 0.9;
}

.secondary-button {
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

    background-color: var(--color-white);
    padding: 18px 22px;
    color: var(--color-blue);
}

/* toDo сделать ховеры для секондари баттон */

.section__title {
    font-family: Unbounded;
    font-size: 44px;
    font-weight: 600;
    line-height: 54.56px;
    text-align: left;

}

/* header */

.header {
    padding-top: 20px;
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 39px;
    padding-right: 29px;
    padding-bottom: 12px;
}

.header__logo {
    margin-right: auto;
    flex-shrink: 0;
}

.header__img {
    padding-right: 20px;
}

.nav__list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}



.nav__link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    transition: opacity .2s linear;
}

.nav__link:hover {
    opacity: 0.7;
}

.nav__link:focus {
    opacity: 0.7;
}

.nav__link:active {
    opacity: 0.7;
}

.feedback {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.feedback__link {
    padding-left: 40px;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: transform .2s linear;
}

.feedback__link:hover {
    transform: scale(1.1);
}

.feedback__link:focus {
    transform: scale(1.1);
}

.feedback__link:active {
    transform: scale(1.1);
}



.feedback__phone {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    white-space: nowrap
}

.burger {
    display: none;
}

/* hero  */

.hero {
    background-color: var(--color-grey-light);
    padding-top: 40px;
    padding-bottom: 40px;

}

.hero__container {
    display: flex;
    gap: 20px;
}

.hero__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 365px;
}

.hero__item {
    display: flex;
    align-items: center;
    padding: 34px 25px;
    padding-right: 38px;
    gap: 16px;
    border-radius: 24px;
    background-color: var(--color-white);
}

.advantages-list__descr {

    font-family: Unbounded;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.32px;
    text-align: left;
}

.advantages-list__icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.hero-swiper {
    width: 1134px;
    height: 540px;
    border-radius: 24px;
}


.hero-slide__container {
    background-image: url('../img/hero-swipper-img.jpeg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    border-radius: 24px;
    padding: 110px 44px;
    height: 100%;
}

.hero-slide__wrapper {
    max-width: 653px;
}

.hero-slide__title {
    margin: 0;
    margin-bottom: 43px;
    font-family: Unbounded;
    font-size: 48px;
    font-weight: 500;
    line-height: 59.52px;
    text-align: left;
    color: var(--color-white);
}




.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 19px);


}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, #fff);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .3);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: transparent;
    border: 2px solid var(--color-white);
}


/* post */

.post {
    padding-top: 144px;
    padding-bottom: 65px;
}

.post__content {
    position: relative;
    background-color: var(--color-white);
    max-width: 1517px;
    padding: 47px 29px;
    padding-bottom: 39px;
    border-radius: 24px;
}

.post__content::before {
    /* обводка. иначе градиентом не сделать */
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: var(--color-main-gradient);
    border-radius: 24px;
    z-index: -1;
}

.post__title {
    margin: 0;
    max-width: 656px;
    margin-bottom: 32px;
}


.post__list {
    column-gap: 42px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 928px;
}


.post__list p {
    margin: 0;
    margin-bottom: 30px;
    max-width: 838px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;

}


.post__img img {
    border-radius: 16px;
    margin-bottom: 14px;
}

.post__info {

    background-image: url('../img/post-backgroud-img.jpeg');
    background-repeat: no-repeat;

    justify-content: flex-start;
    max-width: 575px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 24px 26px;
}

.post__price {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    color: var(--color-white);
    margin-bottom: 6px;

}

.post__descr {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: var(--color-grey);
    margin-bottom: 21px;

}

.post__button {
    max-width: 253px;
}

/* repair-table */

.repair-table__content {
    position: relative;
    overflow: hidden;
    background-color: var(--color-black);
    border-radius: 24px;
    display: flex;
    height: 840px;
}

.repair-table__title {
    margin: 0;
    color: var(--color-white);

    margin-bottom: 25px;
}

.repair-table__button-block {
    width: 41.5%;
    padding: 49px 32px;
    padding-bottom: 29px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--color-grey);
}

.repair-table__big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 16px 25px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border-radius: 16px;
    border: 1px solid var(--color-grey);
    color: var(--color-white);

}

.button-block__additional-info {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    color: var(--color-grey-dark);

}

.additional-info__link {
    color: var(--color-main-gradient);
}

.repair-table__price-list {
    width: 58.5%;
    /* overflow: scroll; */
    position: relative;
}



.price-list__title {
    padding: 68px 32px 21px 32px;
    font-family: Unbounded;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: left;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-grey);
    ;
}

.price-list__row {
    width: 100%;
    padding: 32px;
    padding-top: 22px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
}

.price-list__row--grey {
    background-color: var(--color-white-opacity);
}

.price-list__text {
    min-width: 469px;
}

.price-list__descr {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: var(--color-white);
}

.price-list__subdescr {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: var(--color-grey);
}

.price-list__ptice {
    padding-right: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: var(--color-grey);
    margin-right: auto;
}

.price-list__buttton {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--color-white);
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid var(--color-grey-dark);

}

.price-list__last-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 43px 72px;
}

.last-row__link {
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--color-white);

}

.last-row__decor {
    color: linear-gradient(134.87deg, #E4478A 13.66%, #9E31EB 46.05%, #D9B75B 86.19%);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    background-color: var(--color-white)
}

.simplebar-track.simplebar-vertical {
    top: 0;
    width: 6px;
    margin-right: 10px;
}

.repair-table__scroll-link {
    bottom: 31px;
    right: 352px;
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: var(--color-blue);


    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--color-white);

    transition: opacity .2s linear;

}

/* steps */

.steps {
    padding-top: 225px;
}

.steps__title {
    margin: 0;
    margin-bottom: 28px;
}

.steps__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.steps__item {
    position: relative;
    background-image: url('../img/steps-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 365px;
    min-height: 400px;
    padding: 32px 24px;
    border-radius: 24px;
}

.steps__item--extra {
    background-image: url('../img/steps-background-extra.jpeg');
}

.step__square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--color-white);
    border-radius: 16px;
    margin-bottom: 24px;
}

.step__number {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.84px;
    text-align: center;

}

.step__title {
    margin: 0;
    font-family: Unbounded;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.76px;
    text-align: left;
    margin-bottom: 16px;
    color: var(--color-white);
}

.step__descr {
    margin: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: var(--color-white);

}

/* benefits */

.benefits {
    padding-top: 220px;
}

.benefits__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 496px 108px 236px 241px;
    grid-template-rows: 301px 193px 247px;
    grid-template-areas:
        "b1 b1 b2 b2 b3"
        "b4 b5 b5 b7 b7"
        "b4 b6 b6 b7 b7";

}

.benefits__item {
    padding: 32px 24px;
    border-radius: 24px;
    background-color: var(--color-grey-light);
    background-repeat: no-repeat;
}

.benefit__title {
    margin: 0;
    margin-bottom: 8px;
    font-family: Unbounded;
    font-size: 32px;
    font-weight: 600;
    line-height: 39.68px;
    text-align: left;

}

.benefit__descr {
    margin: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}

.benefits__item--1 {
    padding: 50px 31px;
    grid-area: b1;
}

.benefits__title {
    margin: 0;
    margin-bottom: 16px;

}

.benefits__item--1 .benefit__descr {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;

}

.benefits__item--2 {
    background-image: url('../img/benefit-item-2.jpeg');
    grid-area: b2;
}

.benefits__item--3 {
    background-image: url('../img/benefit-item-3.jpeg');
    grid-area: b3;
}

.benefits__item--4 {
    background-image: url('../img/benefit-item-4.jpeg');
    grid-area: b4;
}

.benefits__item--5 {
    background-image: url('../img/benefit-item-5.jpeg');
    grid-area: b5;
}

.benefits__item--6 {
    background-image: url('../img/benefit-item-6.jpeg');
    grid-area: b6;
}

.benefits__item--7 {
    background-image: url('../img/benefit-item-7.jpeg');
    grid-area: b7;
}